<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{controller}}</title>
</head>
<body>
    <h1>{{controller}}</h1>
    <p>{{prev_action}}から{{action}}</p>
    <p>{{message}}</p>
    <p><a href="/other/{{action}}/{{message}}">next page.</a></p>
</body>
</html>